* {
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  overflow: hidden;
  background: #0b1a21;
  width: 100vw;
  height: 100vh;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  outline: none;
}
